body{

margin:0;

font-family:Segoe UI;

background:#0a0f1c;

color:white;

}



/* NAVBAR */

.navbar{

position:fixed;

top:0;
left:0;

width:100%;

display:flex;

justify-content:space-between;

padding:15px 40px;

box-sizing: border-box;

background:rgba(0,0,0,0.3);

backdrop-filter:blur(10px);

z-index:1000;

}

.nav-right{
    display:flex;
    align-items: center;
    gap:20px;
    flex-wrap:wrap;
}

.nav-links a{

margin-left:20px;

text-decoration:none;

color:white;

}


.start-btn{

background:#3ea37c;

padding:10px 20px;

border-radius:6px;

}



/* HERO */

.hero{

height:100vh;

display:flex;

align-items:center;

padding:50px;

background:

linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),

url("../static/images/earth.png");

background-size:cover;
background-position: center;
background-repeat: no-repeat;


}



/* LEFT SIDE */

.hero-left{

width:50%;

}


.hero-left h1{

font-size:48px;

}


.hero-left p{

font-size:20px;

margin-top:20px;

}



/* BUTTONS */

.buttons{

margin-top:30px;

}


.btn-green{

background:#3ea37c;

padding:12px 25px;

border-radius:8px;

text-decoration:none;

color:white;

margin-right:10px;

}


.btn-dark{

background:#1f2a44;

padding:12px 25px;

border-radius:8px;

text-decoration:none;

color:white;

}



/* RIGHT MAP CARD */

.hero-right{

width:50%;

display:flex;

justify-content:center;

}


.map-card{

width:350px;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(15px);

padding:15px;

border-radius:12px;

box-shadow:0 0 20px rgba(0,0,0,0.5);

}


.map-card input{

width:100%;

padding:10px;

margin-bottom:10px;

border-radius:6px;

border:none;

}


#map{

height:250px;

border-radius:10px;

}


.map-result{

background:#3ea37c;

margin-top:10px;

padding:10px;

border-radius:6px;

text-align:center;

}



/* INFO */

.info{

background:white;

color:black;

text-align:center;

padding:50px;

}
/* LEARN PAGE */

.learn-body{

background: linear-gradient(to right, #02111d, #033b4a);

color:white;

font-family:Segoe UI;

}


.learn-hero{

height:300px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:url("/static/images/earth.png");

background-size:cover;

background-position:center;

}


.learn-hero h1{

font-size:50px;

}


.learn-container{

max-width:1000px;

margin:auto;

padding:40px;

}


.learn-card{

background:#082032;

padding:25px;

margin-bottom:25px;

border-radius:10px;

box-shadow:0 0 15px rgba(0,255,150,0.3);

}


.learn-card h2{

color:#00ff9d;

}


.formula{

font-size:30px;

text-align:center;

margin:20px;

color:#00ff9d;

}


table{

width:100%;

border-collapse:collapse;

}


td,th{

padding:10px;

border:1px solid white;

}


.active{

color:#00ff9d;

}