<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>NDVI Vegetation Monitoring</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>


<!-- NAVBAR -->

<div class="navbar">

<div class="logo">

🌿 NDVI Vegetation Monitoring System

</div>


<div class="nav-links">

<a href="/">Home</a>

<a href="/learn">Learn NDVI</a>

<a href="/map" class="start-btn">

Start Analysis

</a>

</div>

</div>



<!-- HERO SECTION -->


<section class="hero">


<div class="hero-left">


<h1>

Monitor Vegetation Health Anywhere on Earth

</h1>


<p>

Analyze global vegetation health with real-time satellite imagery using NDVI

</p>


<div class="buttons">


<a href="/map" class="btn-green">

Analyze Location

</a>


<a href="/learn" class="btn-dark">

Learn More

</a>


</div>


</div>

</section>

</body>

</html>